:root {
    --body-bg-color: #1a1c1d;
    --text-color: #aaaebc;
    --hr-color: #26292a;
    --red: #e74c3c;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 30px 0;
    font: 22px sans-serif;
    background: var(--body-bg-color);
    color: var(--text-color);
}

hr {
    border-color: var(--hr-color);
    margin: 20px 0;
}

.color {
    color: white;
    display: none;
    visibility: hidden;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu li {
    margin-right: 70px;
}

.menu li a {
    display: block;
}

.menu a {
    position: relative;
    overflow: hidden;
}

.menu a span {
    transition: transform 0.2s ease-out;
}

.menu a span:first-child {
    display: inline-block;
    padding: 10px;
}

.menu a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.menu i {
    font-size: 30px;
}

.menu a:hover span:first-child {
    transform: translateY(100%);
}

.menu a:hover span:last-child,
.menu[data-animation] a:hover span:last-child {
    transform: none;
}


/* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu[data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
}

.menu[data-animation="to-top"] a:hover span:first-child {
    transform: translateY(-100%);
}

.menu[data-animation="to-right"] a span:last-child {
    transform: translateX(-100%);
}

.menu[data-animation="to-right"] a:hover span:first-child {
    transform: translateX(100%);
}

.menu[data-animation="to-left"] a span:last-child {
    transform: translateX(100%);
}

.menu[data-animation="to-left"] a:hover span:first-child {
    transform: translateX(-100%);
}

.logouwu {
    display: block;
    margin-left: 33.3%;
}

@media screen and (max-width: 1124px) {
    .menu li a {
        display: none;
    }
    .logouwu {
        width: 80%;
        margin-left: 33.3%;
        margin: auto;
    }
}

@media screen and (max-width: 583px) {
    .logouwu {
        width: 100%;
        margin-left: 33.3%;
        margin: auto;
    }
}