@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
	font-family: 'Lato', sans-serif;

}
body {
	padding: 0;
	margin:0;
	background-color: #fff;
}
.top{
	padding: 6px;
	background: #252525;

}


.header{
	background: #252525 ;
	color: black;
	padding: 4px;
	font-size:2em ;
	font-weight: bold;
	text-align: center;
}
#auto{
	width: auto;
	height: auto;
}


.botones{
	padding: 10px;
	background: #252525;;
	text-align: center;
	text-align-last: 10px;
}
.botones a{
    border-width: 0 !important;
    position: relative;
    color: white;
    text-align: center;
    height: 100%;
    padding: 10px;
    margin-right: 70px;
    font-size: 20px;

}
.botones a:hover{
	background: #02228F;
	color: white;
	padding: 15px;

}
.cuerpo{
	background: white;
	padding: 60px;
	min-height: 600px;
}
.footer{
	background: #111;
	color: #aaa;
	text-align: center;
	font-size: 10px;
	padding: 10px;
}

.redes{
	width: 60px;
	height: 40px;
	background: #7E0748;
	font-size: 25px;
	text-align: center;
	color: #9E9E9E;
}
.redes:hover{
	background: red;
}
.enlace {
	width: 120px;
	height: 40px;
	background: #7E0748;
	font-size: 20px;
	text-align: center;
}

.enlace:hover {
background: red;
}
.fire{
	background: #424242 ;
	color: black;
	padding: 4px;
	font-size:2em ;
	font-weight: bold;
	text-align: center;
	min-height: 450px;
}
.btn-primary button{
	background: red;
}

.label{
	color:white; 
	background: #252525;

}
.boddyyyy{
	background: #252525 ;
	color: black;
	text-align: center;
	font-size: 20px;
}

.contacto{
	padding: 1px;
	margin-left: 250px;

}
.contacto2{
	padding: 6px;
	
}
.product img{
	width: 100%;
	text-align: center;
	border: #ADADAD 2px groove;
}

.product h3{
	font-size: 1.7em;
	margin-top: 5px;
	text-align: center;
	margin-bottom: 5px;
}
.product p{
	font-size: 1.7em;
	margin-top: 5px;
	text-align: center;
	
}
.card{
	border-radius: 4px;
	background: white;
	box-shadow: 0 1px 3px;
	margin-top: 15px;

}

.carrusel{
	background: white; 
	width:800px; 
	text-align: center;
	margin-left: 225px;
	min-height: 250px;
	text-align: center;
}
.fotoCAR{
	width:100%; 
	font-size: 200px;
}
.logo{
	display:block;
	margin:auto;

}
.logoandroid{
	display:block;
	margin:auto;
	visibility: hidden;
	width: 0%;
}
.logoInicioSesion{
	display:block;
	margin:auto;

}

#menu ul li {
    background: none;

}

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
    background:#03248F;

}

#menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  	text-transform:uppercase;
  	letter-spacing:1px;

}

#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
    background: none;
    width: 0%;
    height: 50px;
    size: 50px;
   	display: none;
    background:#03248F;
	z-index: 9999 !important;

}

#menu ul li:hover {
     background:#5b78a7;
}

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left: 0;
    padding:0;
    visibility: visible;
    width: 0%;
    background:#03248F;
}

#menu ul ul li {
    float:none;
    width:250px
}

#menu ul ul a {
    line-height:120%;
    padding:10px 15px;
}

#menu ul li:hover > ul {
    display:block;
    background:#03248F;
}

.boton{
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 17px;
    color: #ffffff;
    background:#03248F;
    border: 2px solid #0016b0;
    width: 50px;
	height: 40px;
	text-align: center;
}
.botonlargo{
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 17px;
    color: #ffffff;
    background: #03248F;
    border: 2px solid #03248F;
    width: 120px;
	height: 40px;

}

.botonandroid{
	text-decoration: none;
    padding: 10px;
    font-weight: 600px;
    font-size: 17px;
    color: #ffffff;
    background: #03248F;
    border: 2px solid #0016b0;
	height: 0%;
	width: 0%;
	visibility: hidden;
	font-size: 0px;
	
}

.debajofooter{
	background: #111;
	color: #aaa;
	text-align: right;
	font-size: 10px;
	padding: 0px;
	display: block;
}
.botondebajo{
	color: #aaa;
	background: transparent;
	border: transparent;
}

.footerimagenes{
	background: #111;
	color: #aaa;
	text-align: center;
	font-size: 10px;
	padding: 40px;
}
.footernegro{
	padding: 6px;
	background: #252525;

}



@media screen and (max-width: 1124px) {
  .carrusel{
  	background: white; 
	width:285px; 
	text-align: center;
	margin-left: 0px;
	min-height: 0px;
	text-align: center;
	}
	.fotoCAR{
	width:100%; 
	font-size: 200px;
	}

	.redes{
		visibility: hidden;
		width: 0%;
	}
	.fire{
		min-height: 20px;
	}

	.botonlargo{
		display: none;
		
	}
	.boton{
		display: none;
		
	}
	.botones a{
		margin-right: 2px;
	}
	#menu ul li {
		display: block;
	}
	.cuerpo{
		min-height: 350px;
	}
	
	.botonandroid{
	width: 140px;
	visibility: visible;
	font-size: 20px;
	}
	.botones{
		visibility: hidden;
	}
	.botonlargo{
		width: 0%;
		font-size: 0px;
	visibility: hidden;
	
	}
	
	.th{
	width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
	}
	.td{
	width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
	}

}



@media screen and (max-width: 790px) {
	.botonandroid{
	width: 100px;
	visibility: visible;
	font-size: 10px;
	}
}
@media screen and (max-width: 550px) {
	.botonandroid{
	width: 70px;
	
	font-size: 7px;
	}
}
