@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
.wrapper{
	background: white;
	transform: translateY(-50%);
	width: 100%;
	padding: 0 20px;
	margin-top: 150px;
}
.contact-form{
	max-width: 550px;
	margin: 0 auto;
	background: rgba(0,0,0,0.8);
	padding: 30px;
	border-radius: 5px;
	display: flex;
	box-shadow: 0 0 10px rgba(0,0,0,0.13)
}
.input-fields{
	display: flex;
	flex-direction: column;
	margin-left: 4%;
}
.input-fields,.msg,.input-campos{
	 width: 48%;
}

.input-fields,.input,.msg textarea,.area,.input-campos{
	margin: 10px 0;
	border: 0;
	border-bottom: 2px solid #CACACA;
	background: transparent;
	color: #CACACA;
	width: 100%;
}
.msg textarea{
	height: 212px;
}
::-webkit-input-placeholder{
	color: #CACACA;
}
::-moz-input-placeholder{
	color: #CACACA;
}
::-ms-input-placeholder{
	color: #CACACA;
}
.botonconsulta{
	margin-top: 100px;
	background: #02228F;
	text-align: center;
	padding: 2px;
	border-radius: 5px;
	color: #CACACA;
	cursor: pointer;
	text-transform: uppercase;
	max-height: 40px;

}
.input-campos{
	display: flex;
	flex-direction: column;
	margin-left: 4%;
}

.cuerpoform{
	background: white;
	padding: 60px;
	min-height: 600px;
}
.botonInicio{
	margin-top: 30px;
	background: #02228F;
	text-align: center;
	padding: 2px;
	border-radius: 5px;
	color: #CACACA;
	cursor: pointer;
	text-transform: uppercase;
	max-height: 40px;

}
.contact-inicio{
	max-width: 400px;
	margin: 0 auto;
	background: rgba(0,0,0,0.8);
	padding: 30px;
	display: flex;
	box-shadow: 0 0 10px rgba(0,0,0,0.13)
}
@media screen	and (max-width: 600px ){
	.contact-form{
		flex-direction: column;

	}
	.msg textarea{
		height: 200px;
	}
	.input-fields,
	.msg{
		width: 100%;
	}
	.cuerpoform{
		padding: 40px;
	}
	.wrapper{
	margin-top: 200px;
	}
	.botonconsulta{
	margin-top: 0px;
	
	}
	.area{
	height: 100px;
	}
	.cuerpoform{
	background: white;
	padding: 40px;
	min-height: 600px;
	}
	.email{
		width: 50px;
	}
}
