.neon {
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
  
     
      
      0 0 150px #03248F;
  }
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* general styling */
  :root {
    font-size: calc(1vw + 1vh + 1.5vmin);
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  .container {
    margin: 0 auto;
  }
  
  
  
  h1 {
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }