<!DOCTYPE html>
<html style="background: black">
<head>
	<!--
		<link rel="stylesheet" type="text/css" href="css/estilos.css"/>
	-->
	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'core/css/ESTILOSNUEVO.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/Animación.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/Letrasneon.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/login.css' %}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/39b538c475.js" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

 <!-- Carousel  -->
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  	<script src="https://cdn.rawgit.com/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
  	
<!-- JS  -->
    <script type="text/javascript" src="{% static 'core/js/fecha.js' %}"></script>



	<title>Modificar registro </title>
</head>
<body>
<div class="top">

   <button class="botonandroid" style="float: left;border-color: #041A53; " 
	  role="link" onclick="window.location='https://www.google.com/maps/place/San+Antonio,+Valpara%C3%ADso/@-33.5931621,-71.6463248,13z/data=!3m1!4b1!4m5!3m4!1s0x966238514576f2af:0x153105bba7242aa2!8m2!3d-33.5922807!4d-71.6055123'" 
	   f > <i class="fas fa-map-marker-alt">   Tienda</i></button>


	  <a href="/accounts/login/contacto"><button class="botonandroid"  style="float: left; border-color: #041A53;" 
		f > <i class="fas fa-id-card-alt"></i> Contacto</i></button></a>

		<a href="{% url 'logout'%} "><button  data-toggle="tooltip" title="Cerrar sesión" class="botonandroid" style="float: right; width: 50px; background: red; border-color: #5E0303;"  
		f ><i class="fas fa-power-off"></i> </button></a>


  <button type="button" class="boton"  style="float: left;" 
   role="link" onclick="window.location='https://www.instagram.com/fragance_3b/?r=nametag'" 
  f > <i class="fab fa-instagram"></i></button>

  <button type="button" class="boton" style="float: left;" 
   role="link" onclick="window.location='https://www.facebook.com/fragance3b'" 
   f > <i class="fab fa-facebook"></i></button>

  <button type="button" class="boton" style="float: left;" 
   role="link" onclick="window.location='https://twitter.com/3bFragance'" 
  f > <i class="fab fa-twitter"></i></button>

 

  <a href="{% url 'logout'%}"><button data-toggle="tooltip" title="Cerrar sesión" class="boton" style="float: right; background: red; border-color: #5E0303; "  
	role="link" 
	 f > <i class="fas fa-power-off"></i></button></a>

  <a href="/accounts/login/contacto"><button class="botonlargo " style="float: right; border-color: #041A53;"  
	f > <i class="fas fa-id-card-alt"></i> Contacto</i></button></a>

	 <button class="botonlargo" style="float: right; border-color: #041A53;" 
  role="link" onclick="window.location='https://www.google.com/maps/place/San+Antonio,+Valpara%C3%ADso/@-33.5931621,-71.6463248,13z/data=!3m1!4b1!4m5!3m4!1s0x966238514576f2af:0x153105bba7242aa2!8m2!3d-33.5922807!4d-71.6055123'" 
   f > <i class="fas fa-map-marker-alt">   Tienda</i></button>
  
	  
 <div class="row">
	<div class="col-sm-12">
	  <a href="/accounts/login/inicio"><img   class="logouwu" src="https://i.imgur.com/onAoZBf.png"   alt="Logo"></a>
	</div>
  </div>
   
  <!-- MENU DE TABLETS/MOBILES  -->
<nav id="menu" >
<ul>
  <li ><a href="#"><i style="font-size: 40px;"  class="fas fa-bars"></i> </a>
	<ul>
		<li><a  style="display: block; background:#424242 ">Administración</a></li>
		<li> <a href="/lista-registro/">Listado de usuarios</a></li>
	  <li><a style="display: block; background:#424242 ">Directorios</a></li>
	  <li> <a href="/accounts/login/inicio">Inicio</a></li>
	  <li><a href="/accounts/login/listado/"> Listado de productos </a></li>
	  <li><a href="/accounts/login/quienes-somos/"> ¿Quienes somos? </a></li>
	   <li><a  style="display: block; background:#424242 ">Redes sociales</a></li>
	   <li><a href="https://www.instagram.com/fragance_3b/?r=nametag"> <i class="fab fa-instagram"></i> Instagram </a></li>
	   <li><a href="https://www.facebook.com/fragance3b"> <i class="fab fa-facebook"></i> Facebook </a></li>
	   <li><a href="https://twitter.com/3bFragance"> <i class="fab fa-twitter"></i> Twitter </a></li>
	</ul>
  </li>
</ul>
</nav
</div>

<ul class="menu" style="font-size: 20px; ">
  <li>
	<a href="/accounts/login/inicio">
	<span style="color:#02228F" >Inicio</span>
	<span>
	  <i style="color:#02228F" class="fas fa-home" aria-hidden="true"></i>
	</span>
	</a>
  </li>
  <li>
	<a href="/accounts/login/listado/">
	<span style="color:#02228F" >Lista de productos</span>
	<span>
	  <i style="color:#02228F" class="fas fa-images" aria-hidden="true"></i>    
	</span>
	</a>
  </li>
  <li>
	<a href="/accounts/login/quienes-somos/">
	<span style="color:#02228F" >¿Quienes somos?</span>
	<span>
	  <i style="color:#02228F" class="fas fa-users" aria-hidden="true"></i>      
	</span>
	</a>
  </li>
  <li>
	<a href="/lista-registro/">
	<span style="color:#02228F" >Lista de usuarios</span>
	<span>
	  <i style="color:#02228F" class="fas fa-list-alt" aria-hidden="true"></i>      
	</span>
	</a>
  </li>
</ul>


<div class="boddyyyy" >
  <div class="container">
	<h1 style="font-size: 25px;" class="neon">Modificar registro.<br></h1>
	</div>
</div>
	</div>

	
<div class="cuerpo"style="min-height: 650px;" >
	
	<div class="login-box" style="margin-top: 200px; background: #252525; color: #757575;">
		<form style="font-size: 20px;" action="" method="POST">{% csrf_token %}
			<table style="float: left;">
				<div class="user-box">
                    {{ form.nombre }}
                    <label>Nombre</label>
                  </div> 
                  <div class="user-box">
                    {{ form.apellido }}
                    <label>Apellido</label>
                  </div> 
                  <div class="user-box">
                    {{ form.nusuario }}
                  <label>Nombre de usuario</label>
                  </div> 
                 
                  <div class="user-box">
                    {{ form.contrasena }}
                  <label>Contraseña</label>
                  </div> 
                  <label style="color: black; font-size: 17px;" >Género</label>
                  <div class="user-box">
                    {{ form.genero }}           
                  </div> 
			</table>
			
			<button class="botonlargo" type="submit">Modificar</button>
			
		</form>
		<p><div style="background: #252525; color: white; text-align: center;">{{ mensaje }} </div></p>
	</div>	
		
	
	

	
	

</div>
<div class="footer">
	<a href="https://www.significados.com/copyright/#:~:text=En%20otras%20palabras%2C%20el%20copyright,obra%2C%20as%C3%AD%20como%20derechos%20relacionados." target="_blank">Copyright</a> &copy; derechos reservados  @fragance_3b <input class="botondebajo" type="tex" id="fechaActual" value=""  disabled=»disabled>
	<div class="debajofooter"> 
	
	<div class="debajofooter" >
	 <a href="https://www.webpay.cl/portalpagodirecto/pages/faq.jsf#" target="_blank"><img style=" width: 9%" src="https://prestachile.cl/wp-content/uploads/2017/02/Webpay-webservices-prestashop.png"></a>
	 <a href="https://www.somosmach.com" target="_blank"><img style=" width: 6.8%" src="https://d1.awsstatic.com/case-studies/Latam%20Cases%20Assets/MACH_Purple.5be68f3efee80b63fd5af25ca25fb88c88a0edcb.jpg"></a>
	 <a href="https://banco.santander.cl/landing/cuenta-corriente-life?utm_source=Google&utm_medium=Search_CPC&utm_campaign=Santander_Planes_Search_Santander_Brand_Original_CuentaLF2&gclid=CjwKCAjwh7H7BRBBEiwAPXjadi6t8V7jdiUzUZrmxmBegSVNHQ6rACvMsLm4d3mHFLPzx4DbXCa2eBoC5hwQAvD_BwE" target="_blank"><img style=" width: 9%" src=" https://www.plazamaule.cl/wp-content/uploads/2018/08/banco-santander.png"></a>
	
	</div>
</div>

</div>




</body>
</html>

